.cart-card {
  display: flex;
  gap: 1em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 1rem;
  transition: box-shadow var(--transition);
  align-items: center;

  &:hover {
    box-shadow: var(--main-shadow);
  }

  &__photo {
    height: 6rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: var(--border-radius);
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
    padding: .5rem;

    width: 100%;

    justify-content: space-between;
    align-content: space-between;    
    align-items: center;
  }

  &__title {
    grid-column: span 2;

    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__price {
    text-align: right;
  }
}
