.quantity {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: min(100%, 10rem);

  &__value {
    width: 3ch;
    color: inherit;
    font-size: 1.25rem;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;

    appearance: textfield;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__control {
    aspect-ratio: 1/1;
    padding: 0.5rem;
    border-radius: var(--border-radius-button);

    cursor: pointer;
    user-select: none;

    background-color: var(--bg-complementary);
    color: var(--color-complementary);

    transition: background-color var(--transition);

    &:hover {
      background-color: var(--bg-complementary-hover);
    }
  }
}
