.quantity {
  display: inline-flex;
  flex-grow: 1;

  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.quantity-value {
  color: inherit;
  field-sizing: content;
  max-width: 5rem;

  font-size: 20px;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;

  appearance: textfield;
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.quantity-control {
  aspect-ratio: 1/1;
  cursor: pointer;
  padding: 0.5rem;
  user-select: none;
  box-sizing: border-box;
  background-color: var(--bg-complementary);
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: white;
  transition: background-color var(--transition);
  -webkit-transition: background-color var(--transition);
  -moz-transition: background-color var(--transition);
  -ms-transition: background-color var(--transition);
  -o-transition: background-color var(--transition);
  &:hover {
    background-color: var(--bg-complementary-hover);
  }
}
