.footer {
  width: 100%;
  background-color: var(--bg-complementary);
  color: var(--color-complementary);

  &__wrapper {
    width: min(100%, 1280px);
    margin: 0 auto;
    padding: 1rem;

    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  &__info {
    text-align: center;
    svg {
      height: 10rem;
      width: auto;
      border-bottom: solid white 1px;
      margin-bottom: 1em;
      path {
        fill: var(--color-complementary);
      }
    }
  }

  &__contacts {
    display: flex;
    gap: 1rem;

    font-size: 2rem;
    text-align: center;

    &-link {
      line-height: 0;

      transition: var(--transition);
      -webkit-transition: var(--transition);
      -moz-transition: var(--transition);
      -ms-transition: var(--transition);
      -o-transition: var(--transition);

      &:hover {
        color: var(--bg-main-hover);
      }
    }
  }
}
