@use "./styles/fonts" as *;

:root {
  font-family:
    "Acrom", Raleway, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum";
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  color-scheme: light dark;
  background-color: #e0e0e0;

  --color-main: #353535;
  --color-complementary: #f0f0f0;
  --bg-main: #f0f0f0;
  --bg-main-alpha: #f0f0f0a0;
  --bg-main-hover: #d0d0d0;
  --bg-complementary: #353535;
  --bg-complementary-alpha: #353535a0;
  --bg-complementary-hover: #444;
  --backdrop-filer: blur(10px);
  --box-shadow: 0 0 10px #0004;
  --transition: 150ms ease-out;
  --border-radius: 1rem;
  --border-radius-sm: 0.5rem;
}

body {
  margin: 0;
  min-width: 320px;

  color: var(--color-main);
}

#root {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #292929;
    --color-main: #f0f0f0;
    --color-complementary: #1d1d1d;
    --bg-main: #1d1d1d;
    --bg-main-alpha: #1d1d1da0;
    --bg-main-hover: #222;
    --bg-complementary: #f0f0f0;
    --bg-complementary-hover: #d0d0d0;
  }
}